body{
    font-family: 'Poppins', sans-serif;
}
header{
    width: 1350px;
    height: 677px;
    background-color: #2D25A0;
}
header:hover{
    
    background-color: #E02C6D;
    transition: background-color 5s;

}

.first-section{
    display: flex;
    justify-content: space-around;
}
.page-headline{
    width: 455px;
    height: 230px;
    font-size: 65px;
    color: #ffffff;
    margin-left: 155px;
    margin-top: 205px;
    

}
.arrow{
    background-color: #E02C6D;
    margin-left: 155px;
    margin-top: 45px;
    padding: 10px 24px ;
    text-decoration: none;
}
.kick{
    Width :556.01px;
    Height: 438px;
    margin-top: 155px;
    margin-right: 140px;
}
.kick:hover{
    width: 1.5em;
    transition: width 2s;
}
/*---------------
mid section
----------------*/
.mid-section{
    margin-top: 100px;
    background-color: #ffffff;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    padding-left: 100px;
  
}
.player{
    width: 330px;
    height: 475;
    border: 1px solid whitesmoke;
    box-shadow:2px 2px 2px rgba(0,0,0,0.1);
}

.player-cv{
    width: 300px;
    height: 425px;
    padding-left: 10px;
}
.player-cv img{
    width: 300px;
    height: 225px;
}


/*---------
Footer
-----------*/
.last{
    text-align: center;
    margin-bottom: 65px;
}

.last-pic img{
    width: 480px;
    height: 110px;
    padding-top: 155px;
  
   
}
.media a{
    padding: 5px;
    margin-top: 50px;
   
}
/*-----------
Media Query
-------------*/
/*MObile*/
@media only screen and (max-width:688px) {
  header{
      width: 360px;
      height: 700px;
     
  }
  .first-section{
      display: flex;
      flex-direction: column;
  }
  .first-div{
      padding-bottom: 0px;
  }
  .page-headline{
      width: 250px;
      height: 235px;
      font-size: 36px;
      margin-top: 100px;
    margin-left: 15px;
   
  }
    .arrow{
    width: 165px;
    height: 40px;
    margin-left: 15px;
    
 }
 .kick{
     width: 320px;
     height: 250px;
     padding-top: 0px;
     margin-bottom: 50px;
    
   }
   .players{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
    padding-left: 0px;
   }
    .last-pic img{
        width: 220px;
        height: 80px;
    }

}